Source: ros-hydro-moveit-pr2
Section: misc
Priority: extra
Maintainer: "Ioan Sucan <isucan@willowgarage.com>"
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://moveit.ros.org
Standards-Version: 3.9.2

Package: ros-hydro-moveit-pr2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-pr2-moveit-config, ros-hydro-pr2-moveit-plugins, ros-hydro-pr2-moveit-tutorials
Description: All PR2-specific packages for MoveIt
