Source: ros-groovy-pr2-moveit-tests
Section: misc
Priority: extra
Maintainer: sachinc <sachinc@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin, ros-groovy-fcl, ros-groovy-moveit-core, ros-groovy-moveit-ros-perception, ros-groovy-moveit-ros-planning, ros-groovy-octomap, ros-groovy-pluginlib
Homepage: 
Standards-Version: 3.9.2

Package: ros-groovy-pr2-moveit-tests
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-fcl, ros-groovy-moveit-core, ros-groovy-moveit-ros-perception, ros-groovy-moveit-ros-planning, ros-groovy-octomap, ros-groovy-pluginlib
Description: The pr2_moveit_tests package
